<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.ChangeShipmentLabelMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ChangeShipmentLabel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pref" jdbcType="VARCHAR" property="pref" />
    <result column="phbn" jdbcType="VARCHAR" property="phbn" />
    <result column="newref" jdbcType="VARCHAR" property="newref" />
    <result column="is_copy" jdbcType="INTEGER" property="isCopy" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pref, phbn, newref, is_copy, pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from change_shipment_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from change_shipment_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ChangeShipmentLabel" useGeneratedKeys="true">
    insert into change_shipment_label (pref, phbn, newref, 
      is_copy, pid)
    values (#{pref,jdbcType=VARCHAR}, #{phbn,jdbcType=VARCHAR}, #{newref,jdbcType=VARCHAR}, 
      #{isCopy,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ChangeShipmentLabel" useGeneratedKeys="true">
    insert into change_shipment_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pref != null">
        pref,
      </if>
      <if test="phbn != null">
        phbn,
      </if>
      <if test="newref != null">
        newref,
      </if>
      <if test="isCopy != null">
        is_copy,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pref != null">
        #{pref,jdbcType=VARCHAR},
      </if>
      <if test="phbn != null">
        #{phbn,jdbcType=VARCHAR},
      </if>
      <if test="newref != null">
        #{newref,jdbcType=VARCHAR},
      </if>
      <if test="isCopy != null">
        #{isCopy,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ChangeShipmentLabel">
    update change_shipment_label
    <set>
      <if test="pref != null">
        pref = #{pref,jdbcType=VARCHAR},
      </if>
      <if test="phbn != null">
        phbn = #{phbn,jdbcType=VARCHAR},
      </if>
      <if test="newref != null">
        newref = #{newref,jdbcType=VARCHAR},
      </if>
      <if test="isCopy != null">
        is_copy = #{isCopy,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ChangeShipmentLabel">
    update change_shipment_label
    set pref = #{pref,jdbcType=VARCHAR},
      phbn = #{phbn,jdbcType=VARCHAR},
      newref = #{newref,jdbcType=VARCHAR},
      is_copy = #{isCopy,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>