<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.CogsLineMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="charge_code" jdbcType="VARCHAR" property="chargeCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="created" jdbcType="DATE" property="created" />
    <result column="dpmt" jdbcType="INTEGER" property="dpmt" />
    <result column="gst" jdbcType="VARCHAR" property="gst" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="dpt_id" jdbcType="INTEGER" property="dptId" />
    <result column="currency" jdbcType="BIT" property="currency" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="accrual_amount" jdbcType="DECIMAL" property="accrualAmount" />
    <result column="accrual_gst_amount" jdbcType="DECIMAL" property="accrualGstAmount" />
    <result column="actual_gst_amount" jdbcType="DECIMAL" property="actualGstAmount" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine">
    <result column="meta" jdbcType="LONGVARCHAR" property="meta" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, charge_code, status, org_id, fid, model, created, dpmt, gst, desc, qty, 
    price, dpt_id, currency, actual_amount, accrual_amount, accrual_gst_amount, actual_gst_amount, 
    item_code
  </sql>
  <sql id="Blob_Column_List">
    meta
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cogs_line
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cogs_line
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine" useGeneratedKeys="true">
    insert into cogs_line (type, charge_code, status, 
      org_id, fid, model, 
      created, dpmt, gst, desc, 
      qty, price, dpt_id, 
      currency, actual_amount, accrual_amount, 
      accrual_gst_amount, actual_gst_amount, item_code, 
      meta)
    values (#{type,jdbcType=INTEGER}, #{chargeCode,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{orgId,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, 
      #{created,jdbcType=DATE}, #{dpmt,jdbcType=INTEGER}, #{gst,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{qty,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{dptId,jdbcType=INTEGER}, 
      #{currency,jdbcType=BIT}, #{actualAmount,jdbcType=DECIMAL}, #{accrualAmount,jdbcType=DECIMAL}, 
      #{accrualGstAmount,jdbcType=DECIMAL}, #{actualGstAmount,jdbcType=DECIMAL}, #{itemCode,jdbcType=VARCHAR}, 
      #{meta,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine" useGeneratedKeys="true">
    insert into cogs_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="chargeCode != null">
        charge_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="dpmt != null">
        dpmt,
      </if>
      <if test="gst != null">
        gst,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="dptId != null">
        dpt_id,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="actualAmount != null">
        actual_amount,
      </if>
      <if test="accrualAmount != null">
        accrual_amount,
      </if>
      <if test="accrualGstAmount != null">
        accrual_gst_amount,
      </if>
      <if test="actualGstAmount != null">
        actual_gst_amount,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="meta != null">
        meta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="chargeCode != null">
        #{chargeCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=DATE},
      </if>
      <if test="dpmt != null">
        #{dpmt,jdbcType=INTEGER},
      </if>
      <if test="gst != null">
        #{gst,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="dptId != null">
        #{dptId,jdbcType=INTEGER},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=BIT},
      </if>
      <if test="actualAmount != null">
        #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="accrualAmount != null">
        #{accrualAmount,jdbcType=DECIMAL},
      </if>
      <if test="accrualGstAmount != null">
        #{accrualGstAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualGstAmount != null">
        #{actualGstAmount,jdbcType=DECIMAL},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="meta != null">
        #{meta,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine">
    update cogs_line
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="chargeCode != null">
        charge_code = #{chargeCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=DATE},
      </if>
      <if test="dpmt != null">
        dpmt = #{dpmt,jdbcType=INTEGER},
      </if>
      <if test="gst != null">
        gst = #{gst,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="dptId != null">
        dpt_id = #{dptId,jdbcType=INTEGER},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=BIT},
      </if>
      <if test="actualAmount != null">
        actual_amount = #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="accrualAmount != null">
        accrual_amount = #{accrualAmount,jdbcType=DECIMAL},
      </if>
      <if test="accrualGstAmount != null">
        accrual_gst_amount = #{accrualGstAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualGstAmount != null">
        actual_gst_amount = #{actualGstAmount,jdbcType=DECIMAL},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="meta != null">
        meta = #{meta,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine">
    update cogs_line
    set type = #{type,jdbcType=INTEGER},
      charge_code = #{chargeCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      org_id = #{orgId,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      created = #{created,jdbcType=DATE},
      dpmt = #{dpmt,jdbcType=INTEGER},
      gst = #{gst,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      dpt_id = #{dptId,jdbcType=INTEGER},
      currency = #{currency,jdbcType=BIT},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      accrual_amount = #{accrualAmount,jdbcType=DECIMAL},
      accrual_gst_amount = #{accrualGstAmount,jdbcType=DECIMAL},
      actual_gst_amount = #{actualGstAmount,jdbcType=DECIMAL},
      item_code = #{itemCode,jdbcType=VARCHAR},
      meta = #{meta,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CogsLine">
    update cogs_line
    set type = #{type,jdbcType=INTEGER},
      charge_code = #{chargeCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      org_id = #{orgId,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      created = #{created,jdbcType=DATE},
      dpmt = #{dpmt,jdbcType=INTEGER},
      gst = #{gst,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      dpt_id = #{dptId,jdbcType=INTEGER},
      currency = #{currency,jdbcType=BIT},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      accrual_amount = #{accrualAmount,jdbcType=DECIMAL},
      accrual_gst_amount = #{accrualGstAmount,jdbcType=DECIMAL},
      actual_gst_amount = #{actualGstAmount,jdbcType=DECIMAL},
      item_code = #{itemCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>