<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.CreditLineMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="rate" jdbcType="REAL" property="rate" />
    <result column="gst" jdbcType="REAL" property="gst" />
    <result column="qty" jdbcType="INTEGER" property="qty" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="tax" jdbcType="VARCHAR" property="tax" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine">
    <result column="meta" jdbcType="LONGVARCHAR" property="meta" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, amount, rate, gst, qty, description, tax
  </sql>
  <sql id="Blob_Column_List">
    meta
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from credit_line
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from credit_line
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine" useGeneratedKeys="true">
    insert into credit_line (pid, amount, rate, 
      gst, qty, description, 
      tax, meta)
    values (#{pid,jdbcType=INTEGER}, #{amount,jdbcType=REAL}, #{rate,jdbcType=REAL}, 
      #{gst,jdbcType=REAL}, #{qty,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{tax,jdbcType=VARCHAR}, #{meta,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine" useGeneratedKeys="true">
    insert into credit_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="gst != null">
        gst,
      </if>
      <if test="qty != null">
        qty,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="meta != null">
        meta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=REAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=REAL},
      </if>
      <if test="gst != null">
        #{gst,jdbcType=REAL},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="meta != null">
        #{meta,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine">
    update credit_line
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=REAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=REAL},
      </if>
      <if test="gst != null">
        gst = #{gst,jdbcType=REAL},
      </if>
      <if test="qty != null">
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="meta != null">
        meta = #{meta,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine">
    update credit_line
    set pid = #{pid,jdbcType=INTEGER},
      amount = #{amount,jdbcType=REAL},
      rate = #{rate,jdbcType=REAL},
      gst = #{gst,jdbcType=REAL},
      qty = #{qty,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      meta = #{meta,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CreditLine">
    update credit_line
    set pid = #{pid,jdbcType=INTEGER},
      amount = #{amount,jdbcType=REAL},
      rate = #{rate,jdbcType=REAL},
      gst = #{gst,jdbcType=REAL},
      qty = #{qty,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>