<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.CsFaqMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CsFaq">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="frontend_content" jdbcType="VARCHAR" property="frontendContent" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="dpt_id" jdbcType="INTEGER" property="dptId" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="shipment_type" jdbcType="VARCHAR" property="shipmentType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, user_id, status, order, frontend_content, type, dpt_id, agent_id, invoice_type, 
    shipment_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cs_faq
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cs_faq
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CsFaq" useGeneratedKeys="true">
    insert into cs_faq (content, user_id, status, 
      order, frontend_content, type, 
      dpt_id, agent_id, invoice_type, 
      shipment_type)
    values (#{content,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{order,jdbcType=INTEGER}, #{frontendContent,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{dptId,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER}, #{invoiceType,jdbcType=VARCHAR}, 
      #{shipmentType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CsFaq" useGeneratedKeys="true">
    insert into cs_faq
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="content != null">
        content,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="frontendContent != null">
        frontend_content,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="dptId != null">
        dpt_id,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="shipmentType != null">
        shipment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="frontendContent != null">
        #{frontendContent,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dptId != null">
        #{dptId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        #{shipmentType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CsFaq">
    update cs_faq
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="frontendContent != null">
        frontend_content = #{frontendContent,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="dptId != null">
        dpt_id = #{dptId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="shipmentType != null">
        shipment_type = #{shipmentType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.CsFaq">
    update cs_faq
    set content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      order = #{order,jdbcType=INTEGER},
      frontend_content = #{frontendContent,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      dpt_id = #{dptId,jdbcType=INTEGER},
      agent_id = #{agentId,jdbcType=INTEGER},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      shipment_type = #{shipmentType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>