<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.DriverLicenseMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rego" jdbcType="VARCHAR" property="rego" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="ref" jdbcType="VARCHAR" property="ref" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense">
    <result column="driver_license" jdbcType="LONGVARCHAR" property="driverLicense" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rego, driver_name, created, ref
  </sql>
  <sql id="Blob_Column_List">
    driver_license
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from driver_license
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver_license
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense" useGeneratedKeys="true">
    insert into driver_license (rego, driver_name, created, 
      ref, driver_license)
    values (#{rego,jdbcType=VARCHAR}, #{driverName,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{ref,jdbcType=VARCHAR}, #{driverLicense,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense" useGeneratedKeys="true">
    insert into driver_license
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rego != null">
        rego,
      </if>
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="ref != null">
        ref,
      </if>
      <if test="driverLicense != null">
        driver_license,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rego != null">
        #{rego,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null">
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="ref != null">
        #{ref,jdbcType=VARCHAR},
      </if>
      <if test="driverLicense != null">
        #{driverLicense,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense">
    update driver_license
    <set>
      <if test="rego != null">
        rego = #{rego,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="ref != null">
        ref = #{ref,jdbcType=VARCHAR},
      </if>
      <if test="driverLicense != null">
        driver_license = #{driverLicense,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense">
    update driver_license
    set rego = #{rego,jdbcType=VARCHAR},
      driver_name = #{driverName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      ref = #{ref,jdbcType=VARCHAR},
      driver_license = #{driverLicense,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.DriverLicense">
    update driver_license
    set rego = #{rego,jdbcType=VARCHAR},
      driver_name = #{driverName,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      ref = #{ref,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>