<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.ForDelete2Mapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ForDelete2">
    <id column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from for_delete2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ForDelete2" useGeneratedKeys="true">
    insert into for_delete2 ()
    values ()
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ForDelete2" useGeneratedKeys="true">
    insert into for_delete2
    <trim prefix="(" suffix=")" suffixOverrides="," />
    <trim prefix="values (" suffix=")" suffixOverrides="," />
  </insert>
</mapper>