<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.GatepassCourierMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="courier_id" jdbcType="INTEGER" property="courierId" />
    <result column="driver_name" jdbcType="VARCHAR" property="driverName" />
    <result column="driver_rego" jdbcType="VARCHAR" property="driverRego" />
    <result column="ref" jdbcType="VARCHAR" property="ref" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="driver_license_id" jdbcType="INTEGER" property="driverLicenseId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier">
    <result column="meta" jdbcType="LONGVARCHAR" property="meta" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, type, courier_id, driver_name, driver_rego, ref, create_time, status, user_id, 
    driver_license_id
  </sql>
  <sql id="Blob_Column_List">
    meta
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gatepass_courier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gatepass_courier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier" useGeneratedKeys="true">
    insert into gatepass_courier (no, type, courier_id, 
      driver_name, driver_rego, ref, 
      create_time, status, user_id, 
      driver_license_id, meta)
    values (#{no,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{courierId,jdbcType=INTEGER}, 
      #{driverName,jdbcType=VARCHAR}, #{driverRego,jdbcType=VARCHAR}, #{ref,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{userId,jdbcType=INTEGER}, 
      #{driverLicenseId,jdbcType=INTEGER}, #{meta,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier" useGeneratedKeys="true">
    insert into gatepass_courier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="no != null">
        no,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="courierId != null">
        courier_id,
      </if>
      <if test="driverName != null">
        driver_name,
      </if>
      <if test="driverRego != null">
        driver_rego,
      </if>
      <if test="ref != null">
        ref,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="driverLicenseId != null">
        driver_license_id,
      </if>
      <if test="meta != null">
        meta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="courierId != null">
        #{courierId,jdbcType=INTEGER},
      </if>
      <if test="driverName != null">
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverRego != null">
        #{driverRego,jdbcType=VARCHAR},
      </if>
      <if test="ref != null">
        #{ref,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="driverLicenseId != null">
        #{driverLicenseId,jdbcType=INTEGER},
      </if>
      <if test="meta != null">
        #{meta,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier">
    update gatepass_courier
    <set>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="courierId != null">
        courier_id = #{courierId,jdbcType=INTEGER},
      </if>
      <if test="driverName != null">
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverRego != null">
        driver_rego = #{driverRego,jdbcType=VARCHAR},
      </if>
      <if test="ref != null">
        ref = #{ref,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="driverLicenseId != null">
        driver_license_id = #{driverLicenseId,jdbcType=INTEGER},
      </if>
      <if test="meta != null">
        meta = #{meta,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier">
    update gatepass_courier
    set no = #{no,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      courier_id = #{courierId,jdbcType=INTEGER},
      driver_name = #{driverName,jdbcType=VARCHAR},
      driver_rego = #{driverRego,jdbcType=VARCHAR},
      ref = #{ref,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      driver_license_id = #{driverLicenseId,jdbcType=INTEGER},
      meta = #{meta,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.GatepassCourier">
    update gatepass_courier
    set no = #{no,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      courier_id = #{courierId,jdbcType=INTEGER},
      driver_name = #{driverName,jdbcType=VARCHAR},
      driver_rego = #{driverRego,jdbcType=VARCHAR},
      ref = #{ref,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=INTEGER},
      driver_license_id = #{driverLicenseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>