<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.ParcelBarcodeMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ParcelBarcode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="main_ref" jdbcType="VARCHAR" property="mainRef" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
    <result column="sub_ref" jdbcType="VARCHAR" property="subRef" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, main_ref, fid, sub_ref, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parcel_barcode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from parcel_barcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ParcelBarcode" useGeneratedKeys="true">
    insert into parcel_barcode (main_ref, fid, sub_ref, 
      sn)
    values (#{mainRef,jdbcType=VARCHAR}, #{fid,jdbcType=VARCHAR}, #{subRef,jdbcType=VARCHAR}, 
      #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ParcelBarcode" useGeneratedKeys="true">
    insert into parcel_barcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mainRef != null">
        main_ref,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="subRef != null">
        sub_ref,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mainRef != null">
        #{mainRef,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="subRef != null">
        #{subRef,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ParcelBarcode">
    update parcel_barcode
    <set>
      <if test="mainRef != null">
        main_ref = #{mainRef,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="subRef != null">
        sub_ref = #{subRef,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ParcelBarcode">
    update parcel_barcode
    set main_ref = #{mainRef,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      sub_ref = #{subRef,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByBarcode" resultMap="BaseResultMap">
    select * from parcel_barcode where sub_ref = #{barcode}
  </select>
</mapper>