<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.PaymentArrangeSignatureMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="payment_arrange_id" jdbcType="VARCHAR" property="paymentArrangeId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature">
    <result column="signature" jdbcType="LONGVARCHAR" property="signature" />
  </resultMap>
  <sql id="Base_Column_List">
    id, payment_arrange_id, created
  </sql>
  <sql id="Blob_Column_List">
    signature
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from payment_arrange_signature
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_arrange_signature
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature" useGeneratedKeys="true">
    insert into payment_arrange_signature (payment_arrange_id, created, signature
      )
    values (#{paymentArrangeId,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{signature,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature" useGeneratedKeys="true">
    insert into payment_arrange_signature
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paymentArrangeId != null">
        payment_arrange_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="signature != null">
        signature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paymentArrangeId != null">
        #{paymentArrangeId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="signature != null">
        #{signature,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature">
    update payment_arrange_signature
    <set>
      <if test="paymentArrangeId != null">
        payment_arrange_id = #{paymentArrangeId,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="signature != null">
        signature = #{signature,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature">
    update payment_arrange_signature
    set payment_arrange_id = #{paymentArrangeId,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      signature = #{signature,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.PaymentArrangeSignature">
    update payment_arrange_signature
    set payment_arrange_id = #{paymentArrangeId,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>