<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.RemoteChargeRateMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.RemoteChargeRate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rate_id" jdbcType="INTEGER" property="rateId" />
    <result column="chargecode_id" jdbcType="INTEGER" property="chargecodeId" />
    <result column="chargecode_rate_id" jdbcType="INTEGER" property="chargecodeRateId" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
    <result column="zone_name" jdbcType="VARCHAR" property="zoneName" />
    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
    <result column="postcode_to" jdbcType="VARCHAR" property="postcodeTo" />
    <result column="suburb" jdbcType="VARCHAR" property="suburb" />
    <result column="weight_lo" jdbcType="DECIMAL" property="weightLo" />
    <result column="weight_hi" jdbcType="DECIMAL" property="weightHi" />
    <result column="base" jdbcType="DECIMAL" property="base" />
    <result column="item" jdbcType="DECIMAL" property="item" />
    <result column="perkg" jdbcType="DECIMAL" property="perkg" />
    <result column="nkg" jdbcType="REAL" property="nkg" />
    <result column="minimum" jdbcType="DECIMAL" property="minimum" />
    <result column="gst" jdbcType="BIT" property="gst" />
    <result column="levy" jdbcType="DECIMAL" property="levy" />
    <result column="min_incl" jdbcType="DECIMAL" property="minIncl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rate_id, chargecode_id, chargecode_rate_id, zone, zone_name, postcode, postcode_to, 
    suburb, weight_lo, weight_hi, base, item, perkg, nkg, minimum, gst, levy, min_incl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from remote_charge_rate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByRateIdPostcodeAndSuburb" resultMap="BaseResultMap">
    select *
    from remote_charge_rate
    where rate_id = #{rateId,jdbcType=INTEGER}
    and postcode = #{postcode,jdbcType=VARCHAR}
    and upper(suburb) = #{suburb,jdbcType=VARCHAR}
    and levy > 0
  </select>
  <select id="findByRateIdAndPostcodeRange" resultMap="BaseResultMap">
    select *
    from remote_charge_rate
    where rate_id = #{rateId,jdbcType=INTEGER}
    and postcode &lt;= #{postcode,jdbcType=VARCHAR}
    and postcode_to >= #{postcode,jdbcType=VARCHAR}
    and levy > 0
  </select>
  <select id="findByChargeCodeIdRateIdAndPostcode" resultMap="BaseResultMap">
    select *
    from remote_charge_rate
    where chargecode_id = #{chargecodeId,jdbcType=INTEGER}
    and rate_id = #{rateId,jdbcType=INTEGER}
    and postcode = #{postcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from remote_charge_rate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.RemoteChargeRate" useGeneratedKeys="true">
    insert into remote_charge_rate (rate_id, chargecode_id, chargecode_rate_id, 
      zone, zone_name, postcode, 
      postcode_to, suburb, weight_lo, 
      weight_hi, base, item, 
      perkg, nkg, minimum, gst, 
      levy, min_incl)
    values (#{rateId,jdbcType=INTEGER}, #{chargecodeId,jdbcType=INTEGER}, #{chargecodeRateId,jdbcType=INTEGER}, 
      #{zone,jdbcType=VARCHAR}, #{zoneName,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{postcodeTo,jdbcType=VARCHAR}, #{suburb,jdbcType=VARCHAR}, #{weightLo,jdbcType=DECIMAL}, 
      #{weightHi,jdbcType=DECIMAL}, #{base,jdbcType=DECIMAL}, #{item,jdbcType=DECIMAL}, 
      #{perkg,jdbcType=DECIMAL}, #{nkg,jdbcType=REAL}, #{minimum,jdbcType=DECIMAL}, #{gst,jdbcType=BIT}, 
      #{levy,jdbcType=DECIMAL}, #{minIncl,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.RemoteChargeRate" useGeneratedKeys="true">
    insert into remote_charge_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rateId != null">
        rate_id,
      </if>
      <if test="chargecodeId != null">
        chargecode_id,
      </if>
      <if test="chargecodeRateId != null">
        chargecode_rate_id,
      </if>
      <if test="zone != null">
        zone,
      </if>
      <if test="zoneName != null">
        zone_name,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="postcodeTo != null">
        postcode_to,
      </if>
      <if test="suburb != null">
        suburb,
      </if>
      <if test="weightLo != null">
        weight_lo,
      </if>
      <if test="weightHi != null">
        weight_hi,
      </if>
      <if test="base != null">
        base,
      </if>
      <if test="item != null">
        item,
      </if>
      <if test="perkg != null">
        perkg,
      </if>
      <if test="nkg != null">
        nkg,
      </if>
      <if test="minimum != null">
        minimum,
      </if>
      <if test="gst != null">
        gst,
      </if>
      <if test="levy != null">
        levy,
      </if>
      <if test="minIncl != null">
        min_incl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rateId != null">
        #{rateId,jdbcType=INTEGER},
      </if>
      <if test="chargecodeId != null">
        #{chargecodeId,jdbcType=INTEGER},
      </if>
      <if test="chargecodeRateId != null">
        #{chargecodeRateId,jdbcType=INTEGER},
      </if>
      <if test="zone != null">
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null">
        #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="postcodeTo != null">
        #{postcodeTo,jdbcType=VARCHAR},
      </if>
      <if test="suburb != null">
        #{suburb,jdbcType=VARCHAR},
      </if>
      <if test="weightLo != null">
        #{weightLo,jdbcType=DECIMAL},
      </if>
      <if test="weightHi != null">
        #{weightHi,jdbcType=DECIMAL},
      </if>
      <if test="base != null">
        #{base,jdbcType=DECIMAL},
      </if>
      <if test="item != null">
        #{item,jdbcType=DECIMAL},
      </if>
      <if test="perkg != null">
        #{perkg,jdbcType=DECIMAL},
      </if>
      <if test="nkg != null">
        #{nkg,jdbcType=REAL},
      </if>
      <if test="minimum != null">
        #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="gst != null">
        #{gst,jdbcType=BIT},
      </if>
      <if test="levy != null">
        #{levy,jdbcType=DECIMAL},
      </if>
      <if test="minIncl != null">
        #{minIncl,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.RemoteChargeRate">
    update remote_charge_rate
    <set>
      <if test="rateId != null">
        rate_id = #{rateId,jdbcType=INTEGER},
      </if>
      <if test="chargecodeId != null">
        chargecode_id = #{chargecodeId,jdbcType=INTEGER},
      </if>
      <if test="chargecodeRateId != null">
        chargecode_rate_id = #{chargecodeRateId,jdbcType=INTEGER},
      </if>
      <if test="zone != null">
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="zoneName != null">
        zone_name = #{zoneName,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="postcodeTo != null">
        postcode_to = #{postcodeTo,jdbcType=VARCHAR},
      </if>
      <if test="suburb != null">
        suburb = #{suburb,jdbcType=VARCHAR},
      </if>
      <if test="weightLo != null">
        weight_lo = #{weightLo,jdbcType=DECIMAL},
      </if>
      <if test="weightHi != null">
        weight_hi = #{weightHi,jdbcType=DECIMAL},
      </if>
      <if test="base != null">
        base = #{base,jdbcType=DECIMAL},
      </if>
      <if test="item != null">
        item = #{item,jdbcType=DECIMAL},
      </if>
      <if test="perkg != null">
        perkg = #{perkg,jdbcType=DECIMAL},
      </if>
      <if test="nkg != null">
        nkg = #{nkg,jdbcType=REAL},
      </if>
      <if test="minimum != null">
        minimum = #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="gst != null">
        gst = #{gst,jdbcType=BIT},
      </if>
      <if test="levy != null">
        levy = #{levy,jdbcType=DECIMAL},
      </if>
      <if test="minIncl != null">
        min_incl = #{minIncl,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.RemoteChargeRate">
    update remote_charge_rate
    set rate_id = #{rateId,jdbcType=INTEGER},
      chargecode_id = #{chargecodeId,jdbcType=INTEGER},
      chargecode_rate_id = #{chargecodeRateId,jdbcType=INTEGER},
      zone = #{zone,jdbcType=VARCHAR},
      zone_name = #{zoneName,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      postcode_to = #{postcodeTo,jdbcType=VARCHAR},
      suburb = #{suburb,jdbcType=VARCHAR},
      weight_lo = #{weightLo,jdbcType=DECIMAL},
      weight_hi = #{weightHi,jdbcType=DECIMAL},
      base = #{base,jdbcType=DECIMAL},
      item = #{item,jdbcType=DECIMAL},
      perkg = #{perkg,jdbcType=DECIMAL},
      nkg = #{nkg,jdbcType=REAL},
      minimum = #{minimum,jdbcType=DECIMAL},
      gst = #{gst,jdbcType=BIT},
      levy = #{levy,jdbcType=DECIMAL},
      min_incl = #{minIncl,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>