<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.ScannerMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="wh_id" jdbcType="INTEGER" property="whId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="manuf" jdbcType="VARCHAR" property="manuf" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="serial" jdbcType="VARCHAR" property="serial" />
    <result column="registered" jdbcType="DATE" property="registered" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner">
    <result column="ref" jdbcType="LONGVARCHAR" property="ref" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, wh_id, status, manuf, model, serial, registered
  </sql>
  <sql id="Blob_Column_List">
    ref
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from scanner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scanner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner" useGeneratedKeys="true">
    insert into scanner (user_id, wh_id, status, 
      manuf, model, serial, 
      registered, ref)
    values (#{userId,jdbcType=INTEGER}, #{whId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{manuf,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{serial,jdbcType=VARCHAR}, 
      #{registered,jdbcType=DATE}, #{ref,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner" useGeneratedKeys="true">
    insert into scanner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="whId != null">
        wh_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="manuf != null">
        manuf,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="serial != null">
        serial,
      </if>
      <if test="registered != null">
        registered,
      </if>
      <if test="ref != null">
        ref,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="whId != null">
        #{whId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="manuf != null">
        #{manuf,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="serial != null">
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="registered != null">
        #{registered,jdbcType=DATE},
      </if>
      <if test="ref != null">
        #{ref,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner">
    update scanner
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="whId != null">
        wh_id = #{whId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="manuf != null">
        manuf = #{manuf,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="serial != null">
        serial = #{serial,jdbcType=VARCHAR},
      </if>
      <if test="registered != null">
        registered = #{registered,jdbcType=DATE},
      </if>
      <if test="ref != null">
        ref = #{ref,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner">
    update scanner
    set user_id = #{userId,jdbcType=INTEGER},
      wh_id = #{whId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      manuf = #{manuf,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      serial = #{serial,jdbcType=VARCHAR},
      registered = #{registered,jdbcType=DATE},
      ref = #{ref,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.Scanner">
    update scanner
    set user_id = #{userId,jdbcType=INTEGER},
      wh_id = #{whId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      manuf = #{manuf,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      serial = #{serial,jdbcType=VARCHAR},
      registered = #{registered,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>