<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.ShipmentScanMqProcessMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ShipmentScanMqProcess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pno" jdbcType="INTEGER" property="pno" />
    <result column="warehouse" jdbcType="INTEGER" property="warehouse" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="scan_time" jdbcType="TIMESTAMP" property="scanTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, barcode, pid, pno, warehouse, type, scan_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipment_scan_mq_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shipment_scan_mq_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ShipmentScanMqProcess" useGeneratedKeys="true">
    insert into shipment_scan_mq_process (user_id, barcode, pid, 
      pno, warehouse, type, 
      scan_time)
    values (#{userId,jdbcType=INTEGER}, #{barcode,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{pno,jdbcType=INTEGER}, #{warehouse,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{scanTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ShipmentScanMqProcess" useGeneratedKeys="true">
    insert into shipment_scan_mq_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="barcode != null">
        barcode,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="pno != null">
        pno,
      </if>
      <if test="warehouse != null">
        warehouse,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="scanTime != null">
        scan_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pno != null">
        #{pno,jdbcType=INTEGER},
      </if>
      <if test="warehouse != null">
        #{warehouse,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="scanTime != null">
        #{scanTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ShipmentScanMqProcess">
    update shipment_scan_mq_process
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="barcode != null">
        barcode = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="pno != null">
        pno = #{pno,jdbcType=INTEGER},
      </if>
      <if test="warehouse != null">
        warehouse = #{warehouse,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="scanTime != null">
        scan_time = #{scanTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.ShipmentScanMqProcess">
    update shipment_scan_mq_process
    set user_id = #{userId,jdbcType=INTEGER},
      barcode = #{barcode,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      pno = #{pno,jdbcType=INTEGER},
      warehouse = #{warehouse,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      scan_time = #{scanTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>