<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvlv.microservices.shipmentService.hvlvShipmentService.mapper.TrackingArchiveMapper">
  <resultMap id="BaseResultMap" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="srid" jdbcType="INTEGER" property="srid" />
    <result column="dt" jdbcType="TIMESTAMP" property="dt" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="depot" jdbcType="VARCHAR" property="depot" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive">
    <result column="activity" jdbcType="LONGVARCHAR" property="activity" />
    <result column="meta" jdbcType="LONGVARCHAR" property="meta" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, tid, srid, dt, type, depot
  </sql>
  <sql id="Blob_Column_List">
    activity, meta
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tracking_archive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tracking_archive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive" useGeneratedKeys="true">
    insert into tracking_archive (pid, tid, srid, 
      dt, type, depot, 
      activity, meta)
    values (#{pid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{srid,jdbcType=INTEGER}, 
      #{dt,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT}, #{depot,jdbcType=VARCHAR}, 
      #{activity,jdbcType=LONGVARCHAR}, #{meta,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive" useGeneratedKeys="true">
    insert into tracking_archive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="srid != null">
        srid,
      </if>
      <if test="dt != null">
        dt,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="depot != null">
        depot,
      </if>
      <if test="activity != null">
        activity,
      </if>
      <if test="meta != null">
        meta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="srid != null">
        #{srid,jdbcType=INTEGER},
      </if>
      <if test="dt != null">
        #{dt,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="depot != null">
        #{depot,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        #{activity,jdbcType=LONGVARCHAR},
      </if>
      <if test="meta != null">
        #{meta,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive">
    update tracking_archive
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="srid != null">
        srid = #{srid,jdbcType=INTEGER},
      </if>
      <if test="dt != null">
        dt = #{dt,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="depot != null">
        depot = #{depot,jdbcType=VARCHAR},
      </if>
      <if test="activity != null">
        activity = #{activity,jdbcType=LONGVARCHAR},
      </if>
      <if test="meta != null">
        meta = #{meta,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive">
    update tracking_archive
    set pid = #{pid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      srid = #{srid,jdbcType=INTEGER},
      dt = #{dt,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      depot = #{depot,jdbcType=VARCHAR},
      activity = #{activity,jdbcType=LONGVARCHAR},
      meta = #{meta,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hvlv.microservices.shipmentService.hvlvShipmentService.entity.TrackingArchive">
    update tracking_archive
    set pid = #{pid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      srid = #{srid,jdbcType=INTEGER},
      dt = #{dt,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      depot = #{depot,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>